.attach-modal-box {
    padding-inline: 12px;
}

.attachment-list{
    list-style-type: none;
}

.attachment-modal-option {
    background-color: inherit;
    &:hover{
        background-color: #F5F6F8;
    }
}

input#uploadAttach{
    display: none;
}