.attach-modal-box {
    padding-inline: 0;

    .modal-header-container {
        padding-inline: rem(12px)
    }
}

.attachment-list-modal {
    list-style-type: none;

    li {
        padding: rem(6px) rem(12px);
    }

    &:hover {
        li {
            background-color: #F5F6F8;
        }
    }
}

.attachment-modal-option {
    background-color: inherit;
}

input#uploadAttach {
    display: none;
}