.modal-label-picker {
    height: 100%;
    width: 100%;
    padding: 0 12px 12px;
}



.labels-picker-home {
    display: none;

    &.active {
        display: block;
    }
}

.labels-picker-list {
    list-style: none;
    margin-block: 1em;
    margin-inline: 0px 0px;
    padding: 4px 0 8px;



}

.label-picker-line {
    display: inline-flex;
    margin-block-end: 5px;
    width: 100%;

    .label-box-preview {
        border-radius: 3px;
        position: relative;
        flex-grow: 1;
        line-height: 32px;
        padding: 0 rem(12px) 0 rem(8px);

        display: inline-flex;
        align-items: center;
        gap: rem(8px);
    }

    input[name="add-label"] {
        appearance: checkbox;
        display: none;
        scale: 1.4;
        border-radius: 3px;
        border: 0px;
        line-height: 16px;
    }


}

.label-line-container {
    display: inline-flex;
    flex-grow: 1;

    .label-picker-row {
        flex-grow: 1;
        gap: 4px;
        margin-inline-start: 12px;

        .edit-label-button {
            cursor: pointer;
            min-height: 32px;
            min-width: 32px;
            padding: 8px;

            &:hover {
                background-color: $btn-background-cyan;
            }
        }
    }
}

.labels-editor {
    display: none;

    &.active {
        display: block;
    }

    .editor-colors {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 4px;
        margin-block-end: 8px;
    }

    .remove-color {
        @include labels-picker-main-button;
        margin-block-end: 24px;
    }

    .remove-color-icon {
        height: 12px;
        width: 12px;
        vertical-align: baseline;
        font-weight: 900;
        margin-inline-start: 2px;
        margin-inline-end: 4px;
    }

    .save-label {
        @include button-filled($button-filled , #FFF);
    }

    .label-title {
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin: 12px 0px 8px;
    }

    .label-editor-title {
        width: 100%;
        font-size: 14px;
        margin: 0;
    }

    .label-editor-title:focus {
        @include input-focus;
    }

    hr {
        border: 0;
        background-color: #091e4221;
        height: 1px;
        box-sizing: initial;
        margin: 16px 0;
    }

    .label-editor-tools {
        justify-content: space-between;
        padding: 0;

        &>* {
            margin: 0;
        }
    }
}

.color-tab-wrapper {
    width: 100%;
    inset: 0;
    border: 2px solid #FFF;

    .color-tab {
        margin: 0px;
        height: 28px;
        border-radius: 3px;
        cursor: pointer;
    }

    &.active-color {
        border-radius: 3px;
        border: 2px solid #0079BF;

        .color-tab {
            margin: 2px;
            border-radius: 0px;
            height: 24px;

        }
    }
}

.delete-label-msg {
    display: none;

    &.active {
        display: block;
    }
}


.create-label {
    @include labels-picker-main-button;
    padding: 6.5px 12px;
}

.delete-label {
    @include button-filled($button-filled , #FFF);
    background-color: #B04632;
    padding: 6.5px 12px;

    &:hover {
        background-color: #933B27;
    }
}

.label-editor-preview-box {
    margin: 8px -12px 5px;
    padding: 32px;

    .label-editor-preview {

        @include label-preview;
        margin: 0 0 0 0;
        display: block;

        padding: 0 12px 0 15px;

        .label-title-editor-preview {
            margin-inline-start: 8px;
        }

        .label-circle {
            margin-inline-start: -8px;
            font-size: 17px;
            vertical-align: text-bottom;
        }
    }
}

.delete-msg {
    margin-block: 8px;
    font-size: 14px;
    line-height: 20px;
}