.app-header-regular {
    display: flex;
    justify-content: space-between;
    background-color: hsla(0, 0%, 0%, 0.16);
    background-color: var(--dynamic-background);
    border-bottom: 1px solid var(--dynamic-text-transparent);
    align-items: center;

    .main-nav {
        color: var(--dynamic-text);
        height: 43px;
        display: flex;
        gap: 10px;
        align-items: center;

        &>* {
            padding: 6px 4px;
        }

        .navlinks-container a {
            line-height: 1.9;
            text-decoration: none;
            padding: 6px 12px 6px 10px;
            border-radius: 3px;

            &:hover {
                background-color: $dynamic-button-background-color-hover;
            }
        }

        a:visited {
            color: var(--dynamic-text);
        }

        .logo-container {
            .logo {
                margin-left: 10px;

                img {
                    max-width: rem(103px);
                }
            }

        }

    }

    .btn-user {
        border-radius: 50%;
        padding: 4px;
        border: none;
        background-color: transparent;
        margin: 0 4px;
        height: 32px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        .list-member {
            height: rem(24px);
            width: rem(24px);
            margin: 0;

            &:hover {
                opacity: 1;
            }
        }
    }

    .mobail-menu-btn {
        display: none;
    }

    .board-name-mobail {
        display: none;
    }

    .img-logo-mobail-container {
        display: none;
    }

    .mobail-menu {
        display: none;
    }

    @include for-mobile-layout {
        height: rem(60px);

        &.workspace-mobail {
            display: flex;
            justify-content: center;
            padding-bottom: 8px;
        }


        .img-logo-mobail-container {
            display: flex;
            height: rem(30px);
            width: unset;
        }

        .main-nav {
            .logo-container {
                display: none;
            }
        }

        .btn-user {
            display: none;
        }

        .mobail-menu-btn {
            display: block;
            margin-right: rem(14px);
            font-size: rem(20px);
        }

        .board-name-mobail {
            display: flex;
            line-height: em(14px);
            padding-left: 14px;
            gap: 40px;
            color: white;
            font-size: rem(20px);

        }

        .mobail-menu {
            display: block;
            width: 100vw;
            bottom: 0;
            left: 0;
            right: 0;
            min-height: 0;
            opacity: 0;
            background-color: #f4f5f7;
            max-height: 0px;
            position: fixed;
            transition: .6s ease-in, opacity .25s;
            z-index: 100;

            &.mobail-menu-open {
                min-height: 100vh;
                opacity: 1;
                font-size: rem(20px);

                .member-native-icon {
                    display: none;
                }
            }

            .board-header {
                color: black;
                display: flex;
                align-items: center;
                box-shadow: 0px 1px 0 rgb(215 215 215 / 86%);
                background-color: var(--dynamic-background);
                color: var(--dynamic-text);
                padding: rem(13px) rem(34px) rem(13px) rem(14px);

                span {
                    margin-inline: auto;
                }

            }

            .icons-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 17px 22px;
                box-shadow: inset 0 0 0 2px var(--ds-border-input, #dfe1e6);
                margin-bottom: rem(14px);

                >* {
                    border: none;
                    border-radius: 4px;
                    padding: 8px 20px;
                    font-size: rem(22px);
                    background-color: #ffff;
                    border: 1px solid hsl(0, 0%, 80%);
                    line-height: 17px;
                }
            }

            .members-container {
                padding: 14px 14px;
                color: $clr_font_blue;
                background-color: #ffffff;
                font-weight: 600;
                font-size: rem(18px);
                box-shadow:  2px 1px 4px 0px rgb(9 30 66 / 25%);

                .title-container{
                    margin-bottom: 14px;
                    .title{
                        padding-inline-start: 11px;
                    }
                }

                .mambers-icons{
                    margin-bottom: 24px;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }

                .icon.container {
                    display: flex;
                    flex-direction: column;
                    margin: 4px 14px;
                }

                .members-contant-container {
                    flex-grow: 1;
                    padding: 0 29px;
                    margin-bottom: 6px
                }

                .btn-add {
                    @include button-filled(#0079bf, #fff);
                    width: 100%;
                    padding-block: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 1px;
                }
            }
        }
    }
}