.app-header-regular {
    display: flex;
    justify-content: space-between;



    background-color: hsla(0, 0%, 0%, 0.16);
    background-color: var(--dynamic-background);
    border-bottom: 1px solid var(--dynamic-text-transparent);

    align-items: center;

    .main-nav {
        color: var(--dynamic-text);
        height: 43px;
        display: flex;
        gap: 10px;
        align-items: center;

        &>* {
            padding: 6px 4px;
        }

        .navlinks-container a {
            line-height: 1.9;
            text-decoration: none;
            padding: 6px 12px 6px 10px;
            border-radius: 3px;

            &:hover {
                background-color: $dynamic-button-background-color-hover;
            }
        }

        a:visited {
            color: var(--dynamic-text);
        }

        .logo-container {
            .logo {
                margin-left: 10px;

                img {
                    height: 35px;
                }
            }

        }

    }

    .btn-user {
        border-radius: 50%;
        padding: 4px;
        border: none;
        background-color: transparent;
        margin: 0 4px;
        height: 32px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        .list-member {
            height: rem(24px);
            width: rem(24px);
            margin: 0;

            &:hover {
                opacity: 1;
            }
        }
    }

    .mobail-menu-btn {
        display: none;
    }

    .board-name-mobail {
        display: none;
    }

    .img-logo-mobail-container {
        display: none;
    }

    .mobail-menu {
        display: none;
    }



    @media (max-width: 420px) {
        height: 50px;

        &.workspace-mobail {
            display: flex;
            justify-content: center;
            padding-bottom: 8px;
        }


        .img-logo-mobail-container {
            display: flex;
            height: 35px;
        }

        .main-nav {
            .logo-container {
                display: none;
            }
        }

        .btn-user {
            display: none;
        }

        .mobail-menu-btn {
            display: block;
            margin-right: 11px;
        }

        .board-name-mobail {
            display: flex;
            align-items: center;
            padding-left: 11px;
            gap: 14px;
            color: white;
        }

        .mobail-menu {
            display: block;
            width: 100vw;
            bottom: 0;
            left: 0;
            right: 0;
            min-height: 0;
            opacity: 0;
            background-color: #f4f5f7;
            max-height: 0px;
            position: absolute;
            transition: .6s ease-in, opacity .25s;
            z-index: 100;

            &.mobail-menu-open {
                min-height: 100vh;
                opacity: 1;
            }

            .board-header {
                color: black;
                display: flex;
                box-shadow: 0px 1px 0 rgb(215 215 215 / 86%);
                background-color: rgb(226 226 226);
                display: flex;
                background-color: unset;

                span {
                    margin: auto
                }

            }

            .icons-container {
                height: 30px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 22px 30px;

                >* {
                    border: none;
                    border-radius: 4px;
                    padding: 3px 16px;
                    background-color: rgb(223 223 223);
                }
            }

            .members-container {
                display: flex;
                background-color: rgb(223 223 223);

                .icon.container {
                    display: flex;
                    flex-direction: column;
                    margin: 4px 14px;
                }

                .members-contant-container{
                    color: black;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    >* {
                        box-shadow: 0px 1px 0 rgb(215 215 215 / 86%);
                    }
                    .btn-add{
                        @include button-filled(#0079bf, #fff);
                    }
                }
            }
        }
    }
}