.quick-edit-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 60%);
    z-index: 10;


    .task-preview-container.quick-edit-task {
        width: 256px;
    }

    .quick-edit-buttons {


        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(-20px);
        opacity: 0;
        width: 240px;
        transition: transform 85ms ease-in, opacity 85ms ease-in;

        &.fade-in {
            transform: translateX(0px);
            opacity: 1;
        }

        &>* {
            font-size: rem(14px);
            display: flex;
            align-items: center;
            gap: 10px;
            background: #0009;
            border-radius: 3px;
            clear: both;
            color: #c7d1db;
            float: left;
            margin: 0 0 4px 8px;
            padding: 6px 12px 6px 8px;
            text-decoration: none;
            transition: transform 85ms ease-in;
            border: none;

            &:hover {
                background: #000c;
                color: #fff;
                text-decoration: none;
                transform: translateX(5px);
            }


            svg {
                font-size: 16px;
            }


        }

        &.left {
            left: -95%;
            transform: scaleX(-1);
            direction: rtl;

            span {
                transform: scaleX(-1);
            }
        }
    }
}

