.task-preview-icons-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  gap: 3px;
  justify-content: space-between;
  width: 100%;
  padding: 0;

  .icons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: -2px;
    padding-bottom: 0;
    max-width: 100%;
    color: var(--ds-text-subtle, #5e6c84);
    max-width: 100%;
    min-height: 20px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;

    .attachments-container {
      display: flex;
      gap: 6px;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      color: #5e6c84;
      padding: 2px;
      margin: 0 4px 4px 0;
      gap: 2px;

      .attachment-icon {
        height: 13px;
        width: 13px;
      }

      .attachment-number {
        color: #5e6c84;
        font-weight: 400;

      }

    }
  }

  .members-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding: 0;
    padding-bottom: 4px;

    .member-container {
      height: 36px;
      width: 36px;
      margin: 4px 0 0 4px;

      @include for-narrow-layout {
        height: 28px;
        width: 28px;
        margin: 4px 0 0 4px;
      }

      img {
        border-radius: 50%;
      }
    }
  }

}