.textarea-editor-box {
    position: relative;
    padding-block-end: 9px;
    height: fit-content;
    margin-block-start: -7px;

    .textarea-editor {
        background-color: #e1e4ea;
        width: 100%;
        resize: none;
        overflow: hidden;
        min-height: 56px;
        height: auto;
        overflow-wrap: break-word;
        padding: 8px 12px;

        border-radius: 4px;
        outline: none;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .textarea-editor-save {
        margin: 0 4px 0 0;
    }

    .cancel-editor {
        color: #42526e;
        height: 24px;
        width: 24px;
        line-height: 32px;
        
        margin-inline-start: 2px;
        margin-block-start: 3px;
    }
}