.app-header-regular {

    background-color: $clr1;

    .main-nav {
        color: #FFF;
        height: 44px;

        &>* {
            padding: 6px 4px;
        }

        a {
            line-height: 1.9;
            text-decoration: none;
            padding: 6px 12px 6px 10px;
            border-radius: 3px;

            &:hover {
                background-color: $dynamic-button-background-color-hover;
            }
        }

        a:visited {
            color: #FFF;
        }

        .logo-container {
            font-family: sans-serif;


            .logo {
                display: inline-flex;
                align-items: center;
                font-size: 1rem;
                padding: rem(6px) rem(10px);
                display: inline-flex;
                font-weight: 700;
                align-items: center;
                gap: rem(4.5px);
                line-height: 34px;

            }
        }

    }
}