.board-header {

    .board-title-header{
        margin: 0;
    }

    .btn {
        display: inline-flex;
        background-color: $dynamic-button;
        border: none;
        padding: 6px 12px;
        font-size: 14px;
        justify-content: center;
        color: #FFF;
        margin: 0 .3em;
        border-radius: 3px;
        transition-property: background-color;
        transition-duration: 85ms;

        &:hover {
            background-color: $dynamic-button-hover;
        }
    }


    .btn-menu {
        padding: 6px;
        line-height: 20px;

        span {
            line-height: 14px;
        }
    }

    .btn-share {
        background-color: rgba(255, 255, 255, 0.90);
        color: #091e42;

        &:hover {
            background-color: rgba(255, 255, 255, 0.80);
        }
    }

    .btn-divider {
        border-left: 1px solid rgba(255, 255, 255, 0.16);
        height: 16px;
        margin: 8px 8px 12px 4px;
    }

    .title-container {

        .board-title-header {
            font-size: 1.125em;
            font-weight: 700;
            line-height: 1.7;
            padding: 0 1.5em;

            &:hover {
                background-color: $dynamic-button-hover;
            }
        }

        .board-title-input {
            font-family: inherit;
            display: none;
            background-color: #fff;
            border: 0;
            font-size: 1.125em;
            font-weight: 700;
            height: 1.7em;
            margin: 0;
            padding: 0 1.5em;
        }

        &.editable {

            .board-title-header {
                display: none;
            }

            .board-title-input {
                display: block;
            }
        }

    }
}