.board-header {
    height: auto;
    padding: 8px 4px 4px 12px;
    position: relative;
    z-index: 0;
    background-color: #0000003d;

    .board-title-header {
        cursor: default;
        font-size: rem(18px);
        font-weight: 700;
        line-height: rem(32px);
        overflow: hidden;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .btn-filter,
    .btn-star {
        @include button-filled($dynamic-button, #FFF);
    }

    .btn-menu {
        @include button-filled($dynamic-button, #FFF);
        padding: 8px;
        line-height: 20px;

        span {
            line-height: 14px;
        }
    }

    .btn-share {
        @include button-filled(rgba(255, 255, 255, 0.90), #091e42);

        &:hover {
            background-color: rgba(255, 255, 255, 0.80);
        }
    }

    .btn-delete {
        @include button-filled($red, #FFF);
    }

    .btn-divider {
        border-left: 1px solid rgba(255, 255, 255, 0.16);
        height: 16px;
        margin: 8px 8px 12px 4px;
    }

    .title-container {
        display: inline-flex;
        align-items: center;
        gap: 16px;
        cursor: default;
        font-size: rem(18px);
        font-weight: 700;
        line-height: rem(32px);
        overflow: hidden;
        padding: rem(8px) rem(4px) rem(4px) rem(12px);
        text-overflow: ellipsis;
        white-space: nowrap;

        .btn-star {
            padding: 8px;
            font-size: rem(16px);
            &.active{
                color: #f2d600;

                &:hover{
                    background-color: $dynamic-button;
                }
            }
        }

        .board-title-header {
            border-radius: 3px;
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            padding: 0 rem(12px);
            margin: 0;

            &:hover {
                background-color: $dynamic-button-hover;
            }
        }

        .board-title-input {
            background-color: #fff;
            display: none;
            font-size: 18px;
            line-height: 32px;
            font-weight: 700;
            height: 32px;
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, segoe UI, roboto, noto-sans, ubuntu, droid-sans, helvetica-neue, sans-serif;
        }

        &.editable {

            .board-title-header {
                // display: none;
                position: absolute;
                opacity: 0;
            }

            .board-title-input {
                display: block;
            }
        }

    }
}