.group-footer-container {


    .add-card-container {
        color: var(--ds-text-subtle, #5e6c84);
        display: inline-flex;
        align-items: center;
        margin: -1px 0px 8px 0px;
        padding: 4px 8px;
        display: none;

        .add-icon-container {
            color: var(--ds-icon-subtle, #6b778c);
            margin-right: 2px;

            .add-icon {
                font-size: 16px;
            }
        }

        .add-txt-container {
            font-size: 15px;
        }

        &:hover {
            background-color: var(--ds-background-neutral-hovered, #091e4214);

            .add-icon-container {
                color: var(--ds-text, #172b4d);
            }
        }
    }

    .textarea-container {

        .form-textarea {
            overflow: hidden;
            overflow-wrap: break-word;
            resize: none;
            height: 54px;
            border: none;
            border-radius: 3px;
            width: 100%;
            box-shadow: var(--ds-shadow-raised, 0 1px 0 rgba(9, 30, 66, 0.2509803922));

            &:focus {
                outline: none;
            }
        }
    }

    .btn-controls-container {
        display: flex;
        align-items: center;

        .add-btn {
            @include button-filled(#0079bf, #fff);
        }

        .btn-cancel {
            @include button-filled(rgba(255, 255, 255, 0), #42526e);
            font-size: 2rem;
            padding: 0;

            &:hover {
                color: var(--ds-icon, #172b4d);
            }
        }
    }


    &.add-card-close {
        form {
            display: none;
        }

        .add-card-container {
            display: inline-flex;
        }
    }
}

.group-footer-container-open {

    textarea {
        overflow: hidden;
        overflow-wrap: break-word;
        height: 40px;
        width: 100%;
    }

    .textarea-container {
        overflow: hidden;
        padding: 6px 8px 2px;
        position: relative;
        z-index: 10;
    }
}



//     .group-footer-close {
//         display: flex;
//         align-items: center;
//         width: 100%;
//         color: $clr20;

//         .add-card-btn {
//             color: $clr20;
//             border-radius: 3px;
//             display: block;
//             flex: 1 0 auto;
//             padding: 4px 8px;
//             position: relative;
//             text-decoration: none;
//             -webkit-user-select: none;
//             user-select: none;

//             &:hover {
//                 color: $clr21
//             }
//         }

//         &:hover {
//             background-color: $clr22;
//             color: $clr21
//         }
//     }


//     .group-footer-open {
//         display: flex;
//         align-items: center;
//     }

//     .add-card-btn-second {
//         border: none;
//         border-radius: 3px;
//         height: 32px;
//         padding: 6px 12px;
//         background-color: #0079bf;
//         color: #fff;
//         margin-right: 4px;
//     }

//     .close-btn {
//         color: $clr20;
//         height: 25px;
//         width: 25px;
//     }
// }