.group-list-container {

    @include scrollbar(12px, 4px, #f4f5f763, #1c1c1d15);

    display: flex;
    flex-grow: 1;
    margin: 0;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0 rem(8px) rem(24px);

    .add-group-form {
        box-sizing: border-box;
        display: inline-block;
        white-space: nowrap;
        width: 272px;
        height: fit-content;
        min-height: 34px;
        background-color: #ebecf0;
        cursor: pointer;
        font-weight: 400;
        padding-left: 10px;
        padding-right: 3px;
        overflow: hidden;
        overflow-wrap: break-word;
        border-radius: 3px;
        transition: color 85ms ease-in;

        &.editable {
            background-color: #ebecf0;
            cursor: inherit;
            min-height: rem(80px);
            padding: rem(4px);
            transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
        }
    }

    .new-group-title {
        background-color: var(--ds-background-input, #fff);
        margin: 0;
        margin-bottom: rem(4px);
        width: 100%;
        box-shadow: inset 0 0 0 2px var(--ds-border-focused, #0079bf);
        transition: margin 85ms ease-in, background 85ms ease-in;

    }
}