.add-card-form-container {
    display: flex;
    flex-direction: column;
    background-color: red;
    max-height: 38px;
    min-height: 38px;

    .add-card-form {
        // display: flex;
        // flex-direction: column;
        border-radius: 3px;
        color: $clr20;
        display: block;
        flex: 1 0 auto;
        margin: 2px 0 0 8px;
        padding: 4px 8px;
        position: relative;
        text-decoration: none;
    }
}