.labels-picker {
    position: fixed;
    z-index: 5;

    .picker-header {
        font: inherit;
        text-align: center;
        font-size: 14px;
    }
}


.labels-picker-list {
    list-style: none;
    margin-block: 1em;
    margin-inline: 0px 0px;
    padding: 0px;
}

.label-picker-line {
    margin-block-end: 5px;
    width: 100%;

    .label-box-preview {
        position: relative;
        width: 100%;
        line-height: 32px;
        padding: 0 12px;
    }

    input[name="add-label"] {
        appearance: checkbox;
        display: inline;
        scale: 1.4;
        border-radius: 3px;
        border: 0px;
        margin-inline-end: 4px;
        line-height: 16px;
    }
}