.modal {
    color: $clr_font_blue;
    width: inherit;
    z-index: 5;
    border: none;
    overflow-y: auto;
    overflow-x: visible;

    margin-block-start: 5px;

    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 16px -4px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding-inline: 12px;
}