.task-preview-icons-container{
  
  .members-container{
    display: flex;
    justify-content: flex-end;
    flex: 1;

    .member-container{
      height: 28px;
      width: 28px;
      margin: 4px 0 0 4px;
      img{
        border-radius: 50%;
      }
    }
  }











}