.task-preview-container {
    background-color: $clr6;
    border-radius: 3px;
    box-shadow: var(--ds-shadow-raised, 0 1px 0 $clr23);
    color: var(--ds-text, inherit);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;

    &:hover {
        background-color: #c4c5c7c2;
    }

    .cover-color {
        align-items: flex-end;
        background-size: 100% auto;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: flex;
        min-height: 32px;
        overflow: hidden;
    }

    .task-body {
        color: red;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding: 6px 6px 6px 8px;
        word-break: break-word;
        
        p{
            text-align: left;
            white-space: break-spaces;
        }
    }

    .task-labels {
        color: $clr21;
    }

}