.task-preview-container {
    background-color: $clr6;
    border-radius: 3px;
    box-shadow: var(--ds-shadow-raised, 0 1px 0 $clr23);
    color: var(--ds-text, inherit);
    cursor: pointer;
    display: block;
    margin-bottom: rem(8px);
    padding: rem(6px) rem(8px) rem(2px);
    max-width: 300px;
    min-height: 20px;
    position: relative;

    &.is-dragging {
        transform: rotate(5deg);
    }

    &:hover {
        background-color: #c4c5c7c2;
    }

    .cover-color {
        align-items: flex-end;
        background-size: 100% auto;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: flex;
        min-height: 32px;
        overflow: hidden;
    }

    .task-body {
        color: $clr21;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding: 6px 6px 6px 8px;
        word-break: break-word;

        p {
            text-align: left;
            white-space: break-spaces;
        }
    }
}

.labels-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-top: 5px;
    width: 100%;
    margin-bottom: 4px;

    &.labels-large {
        margin-bottom: 4px;
    }

    .label-container {
        height: 16px;
    }

    .labels-preview {
        height: 8px;
        border-radius: 4px;
        min-width: 40px;
        transition: width, height 0.45s ease-out;
        display: flex;
        align-items: center;
        padding-inline-end: 8px;
    }

    .labels-large {
        height: 16px;
        min-width: 56px;
    }

    .lable-circle {
        border-radius: 50%;
        height: 8px;
        margin: 4px;
        width: 8px;
    }

    .label-title {
        font-size: 12px;
        color: #172b4d;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.task-preview-drag-container {
    &.is-dragging {
        transition: rotate(5deg);
    }
}