.task-list {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
    margin: 0 rem(4px);
    overflow-y: auto;
    padding: 0 rem(4px);

    .placeholder {
        width: 100px;
        height: 100px;
        background-color: red;
    }
}