.comment-container {
    min-height: 32px;
    padding: 8px 0;
    position: relative;
}

.commentor-logo {
    @include user-logo-circle;
    position: absolute;
    left: -41px;
    top: 15px;

    &:hover{
        opacity: unset;
    }

    @include for-native-layout-details {
        left: 6px;
    }
}

.comment-box {
    width: 100%;
    padding-block-start: 3.5px;

    @include for-native-layout-details {
        padding-inline-start: 50px;
        padding-inline-end: 13px;
    }

    .comment-by-member {
        font-weight: 700;
        margin-inline-start: 0px;
        margin-inline-end: 4px;
        font-size: 14px;
    }

    .comment-time {
        font-size: 12px;
        color: #707C91;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .task-activity {
        @include text-area-form;
        margin: 4px 0 4px 0;
        padding: 7px 12px;
        font-size: 14px;

        background-color: #FFFFFF;

        .comment-text {
            text-overflow: ellipsis;
        }

        @include for-native-layout-details {
            max-width: 100%;
            background-color: #fff;
        }

    }

    .comment-tools {

        .edit-comment,
        .delete-comment {
            border: 0;
            font-size: 12px;
            color: #5e6c84;
            text-decoration: underline;
            background-color: inherit;
            cursor: pointer;

        }

        .break-tools {
            color: #172b4d;
            margin: 0 4px;
        }

    }
}

.cancel-editor-comment {
    margin-block-start: 3px;
    margin-inline-start: 4px;
    height: 24px;
    width: 24px;
    color: #42526e;
}