.window-sidebar-box {
    width: 100%;
    float: right;
    overflow-y: visible;
    padding: 0 14px 12px;
    background-color: #fff;

    @include for-narrow-layout {
        width: 192px;
        background-color: inherit;
        padding: 0 18px 12px;


        .sidebar-title {
            @include details-label;
        }
    }

    .sidebar-title {
        display: block;
        font-weight: 600;
        margin-block: 12px;
    }

}

.window-sidebar.flex.column {
    display: flex;
    width: 100%;
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 8px;


    @include for-narrow-layout {
        gap: unset;
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
        overflow-y: visible;
        margin-block-end: 24px;

    }

}


.button-link {
    @include task-nav-button;
    position: relative;
    text-align: left;
    width: calc(50% - 4px);
    margin: 0;
    height: 48px;
    border-radius: 6px;
    background-color: #EEEDEF;
    display: inline-flex;
    align-items: center;
    font-weight: 500;

    &-header {
        @include task-nav-button;
        margin: 0 0 0 8px;
        padding-inline: 12px;
        border-radius: 3px;

        &:hover {
            background-color: #e2e5e9;
            text-decoration: none;
        }
    }

    &:hover {
        background-color: #e2e5e9;
        text-decoration: none;
        font-weight: 00;
    }

    .nav-btn-txt {
        line-height: 20px;
        vertical-align: text-bottom;
    }

    @include for-narrow-layout {
        @include task-nav-button;
        margin: 0 0 8px -8px;
        background-color: #eaecf0;
        font-size: 14px;
        width: 100%;
        font-weight: 400;
    }


}

.sidebar-icon {
    margin: 0 6px 0 -6px;

    @include for-native-layout-details {

        color: #fff;
        border-radius: 50%;
        padding-block: 16px;
        font-size: 24px;


    }

}

// .sidebar-icon:first-of-type {
//     background-color: red;
// }

.button-link:nth-of-type(1):not(.btn-cover-box) {
    .sidebar-icon {
        background-color: #60BA48;
    }
}

.button-link:nth-of-type(2) {
    .sidebar-icon {
        background-color: #19C5CB;
    }
}

.button-link:nth-of-type(3) {
    .sidebar-icon {
        background-color: #A770C3;
    }
}

.button-link:nth-of-type(4) {
    .sidebar-icon {
        background-color: #BF67DD;
    }
}

.button-link:nth-of-type(5) {
    .sidebar-icon {
        background-color: #cbb019;
    }
}

.button-link:nth-of-type(odd):not(.btn-cover-box) {
    @media (min-width:647px) {

        .sidebar-icon {
            background-color: unset;
        }
    }
}

.button-link:nth-of-type(even):not(.btn-cover-box) {
    @media (min-width:647px) {

        .sidebar-icon {
            background-color: unset;
        }
    }
}