.task-details-cover {
    position: relative;
    height: 160px;
    min-height: 160px;
    padding: 0px;
    background-color: var(--cover-color);
    background-position: center center;
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

.btn-cover-box {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: #172b4d;
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);;
    }
}