.task-window {
    --cover-color: #fff;
    z-index: 15;
    @include scrollbar;

    @include for-native-layout-details {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    background-color: #000000a3;

    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
}

.task-details {
    background-color: #fff;

    color: $clr_font_blue;
    @include for-none-native-layout-details {
        position: relative;

        width: 768px;
        min-height: 800px;

        padding: 0px;
        margin: 48px 0 80px;

        @media (max-width: 768px) {
            width: auto;
            max-width: 100vw;
        }
    }

    @include for-native-layout-details {
        width: 100vw;
        min-height: 100vh;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        padding-block-end: 80px;

        display: flex;
        flex-direction: column;
    }
}

.close-task-details {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    margin: 8px;

    height: 42px;
    width: 42px;
    font-size: 28px;

    border-radius: 50%;
    border: 0;

    align-items: center;
    justify-content: center;
    background-color: transparent;

    color: #1b324e;

    &:hover {
        background-color: #091e4214;
        color: #42526e;
    }

    &.on-cover {
        background-color: #0000001a;
        &:hover {
            opacity: 0.75;
        }
    }

    @include for-native-layout-details {
        right: unset;
        left: 0;
    }

}

.task-icon {
    vertical-align: middle;
    font-family: unset;
    height: 18px;
    width: 19px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;

    color: $task-details-icon;
}

.task-header {
    height: fit-content;
    float: left;
    padding: 24px 40px 8px 56px;
    width: 100%;
    position: relative;

    background-color: #fff;

    .header-icon {
        position: absolute;
        left: 21px;
        top: 26px;

        @include for-native-layout-details {
            left: 22px;
            display: none;
        }
    }

    .task-title {
        @include input-as-title;
    }

    .header-subtitle {
        font-size: 14px;
        display: inline-block;
        width: fit-content;
        margin: 0px 8px 9px 2px;
        padding-block-start: 8px;

        line-height: 20px;

        color: #5E6C84;

        .group-name {
            text-decoration: underline;

            @include for-native-layout-details {
                font-weight: 900;
                text-decoration: none;
            }
        }

        .board-name {
            display: none;

            @include for-native-layout-details {
                display: inline;
                font-weight: 900;
            }
        }
    }

    @include for-native-layout-details {
        padding: 45px 0 0 10px;

        @include task-details-border-line;
    }
}

.task-main-col {
    position: relative;
    width: 576px;
    overflow: hidden;
    margin: 0;
    display: inline-block;

    padding: 0px 8px 8px 16px;
    vertical-align: top;

    @media (max-width: 750px) {
        padding: 8px;
        max-width: 100%;
    }

    @include for-native-layout-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        order: 2;
    }
}

.title-main-col {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: $task-details-icon;
}

.save-btn {
    @include button-filled($button-filled , #FFF);
    font-size: 14px;
}

.task-info {

    margin-inline-start: 40px;
    margin-block-start: 7px;
    margin-block-end: 13px;

    display: flex;

    flex-wrap: wrap;
    padding: 0;

    .info-tab {
        position: relative;
        margin: 0 8px 8px 0;

        @include for-native-layout-details {
            width: 100%;
            background-color: #fff;
            margin: 0;
            padding: 8px 4px 8px 40px;
            @include task-details-border-outset;

        }
    }

    @include for-native-layout-details {
        order: 2;
        margin: 0;
    }
}

.cover-color {
    background-position: 50%;
    background-size: cover;
}