.task-description-box {
    position: relative;
    margin: 0 0 4px 40px;
    margin-block-end: 35px;


    @include for-native-layout-details {
        background-color: #FFF;
        padding: 0;
        margin: 0;
        width: 100%;
        padding-inline: 30px;
        @include task-details-border-outset;
    }

    .desc-icon {
        @include task-details-field-icon;
        top: 8px;
        left: -35px;
        width: 22px;
        @include for-native-layout-details {
            left: 6px;
        }
    }

    .description-header {
        display: flex;
        flex-direction: row;

        padding: 8px 0px;
        margin-block-end: 4px;
        min-height: 44px;
        align-items: flex-start;

        @include for-native-layout-details {
            display: none;
        }
    }

    .task-description {
        box-shadow: none;
        resize: none;
        background-color: #eaecf0;
        border: none;
        width: 100%;
        font-size: 14px;
        border-radius: 3px;
        padding: 8px 12px;
        outline: unset;
        transition-duration: 85ms;

        font-family: unset;
        min-height: 40px;

        @include for-native-layout-details {
            background-color: #F4F5F7;
        }

        &.filled {
            @include for-none-native-layout-details {
                background-color: #FFF;
                padding: 0px;
                min-height: unset;
                line-height: initial;
                margin-block-start: -3px;
                margin-block-end: -23px;
            }

        }

        &.is-editing {
            @include for-none-native-layout-details {
                background-color: #FFFFFF;
                box-shadow: 0 0 0 2px #0079bf;
                height: 103px;
                padding: 8px 12px 0 12px;
                margin: 0;
            }

            @include for-native-layout-details {
                box-shadow: none;
                border-block-end: 3px solid green;
            }


        }
    }


    @include for-native-layout-details {
        order: 1;
    }

}

.description-editor-tools {
    display: none;
    @include for-none-native-layout-details {
        margin: 8px 0 0;

        &.show {
            display: block;
        }
    }

}

.cancel-btn {
    @include button-filled(#FFF, #2B2B2C);
    font-size: 14px;

    &:hover {
        color: #2B2B2C;
        background-color: #EAECF0;
    }
}