.attachment-viewer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;

    transition: transform .15s;

    background-color: #000000a3;
    z-index: 12;

    width: 100%;

    .attach-viewer-closer-layout {
        position: fixed;
        top: 0;
        right: 0;
        height: 48px;
        width: 100%;
        z-index: 40;


        & .close-attach-viewer {
            cursor: pointer;
            color: #9EA0A3;

            transition-duration: .15s;
            transition-property: transform, color;


            height: 18px;
            width: 18px;

            position: absolute;
            top: 0;
            right: 0;
            margin: 9px;


            &:hover {
                color: #FFFFFF;
                transform: scale(1.2);
            }
        }
    }
}

.viewer-scroller {
    position: absolute;
    top: 0;
    bottom: 0;

    margin: 48px 8px 112px 24px;


    max-width: 100%;

    @include scrollbar;
    overflow-y: auto;
    overflow-x: hidden;


    .attachment-viewer-preview {
        margin-inline-end: 20px;
        height: auto;
    }
}

.viewer-img-container {
    position: relative;

    .attachment-viewer-img {
        max-width: 100%;
        border-radius: 3px;
        z-index: 12;

        transition: transform .15s, opacity .4s;

        border: 0;
    }
}


.attachment-viewer-info {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 0;

    height: 100px;
    width: 100%;

    text-align: center;
    place-content: center;
    background-color: #000000a3;
    z-index: 13;

    .attach-viewer-filename {
        display: block;
        margin: 0 0 6px;
        font-size: 20px;
        line-height: 22px;
    }

    .attach-viewer-date {
        margin: 0 0 6px;
        font-size: 12px;
        line-height: 18px;

    }

    .viewer-actions {
        justify-content: center;
        font-size: 12px;
        line-height: 18px;

        .viewer-action-icon {
            vertical-align: text-bottom;
            margin: 0 3px 0 14px;
        }
    }

    .viewer-info-action {
        cursor: pointer;
        color: #fff;
        text-decoration: underline;
    }
}