.attachment-preview {
    position: relative;
    min-height: 80px;
    margin: -3px 0 8px;
    border-radius: 3px;
    overflow: hidden;

    @include for-native-layout-details {
        border-radius: 0px;
        margin: 0;
        height: fit-content;
    }

    &:hover {
        background-color: $btn-background-cyan;
    }
}

.attach-img-container {
    position: absolute;
    top: 0;
    left: 0;

    height: 82px;
    width: 112px;
    background-color: #262A2A;
    padding: 0;
    border-radius: 3px;
    text-align: center;
    
    display: block;
    align-items: center;

    @include for-native-layout-details {
        position: relative;
        border-radius: 0px;
    }
}

.attachment-preview-img {
    height: 82px;
    width: auto;
    max-width: 112px;
    @include for-native-layout-details {
        border-radius: 0px;
    }
}

.attachment-details {
    margin: 0;
    min-height: 80px;
    padding: 8px 8px 8px 128px;
    cursor: pointer;

    @include for-native-layout-details {
        display: none;
    }
}

.attachment-filename {
    word-wrap: break-word;
    font-weight: 650;
    font-size: 14px;
}

.attachment-open {
    height: 8px;
    width: 8px;
    line-height: 20px;
    margin: 0px 7px;
    vertical-align: middle;
}

.attachment-info {
    display: block;
    color: #65738A;

    font-size: 12px;
    
    @include for-native-layout-details {
        display: none;
    }
}

.make-attach-cover{
    text-decoration: underline;
    font-size: 14px;
}

.attachment-info-break::after {
    content: ' • ';

}

.action-attachment {
    text-decoration: underline;
}