.attachment-preview {
    position: relative;
    overflow: hidden;
    min-height: 80px;
    margin: -3px 0 8px;
    border-radius: 3px;

    &:hover {
        background-color: $btn-background-cyan;
    }
}


.attachment-preview-img {
    height: 82px;
    width: 112px;

    position: absolute;
    padding: 0;
    left: 0;
    top: 50%;

    text-align: center;
    border-radius: 3px;

    margin-block-start: -41px;
}

.attachment-details {
    margin: 0;
    min-height: 80px;
    padding: 8px 8px 8px 128px;
    cursor: pointer;
}

.attachment-filename {
    word-wrap: break-word;
    font-weight: 650;
    font-size: 13px;
}

.attachment-open {
    height: 8px;
    width: 8px;
    line-height: 20px;
    margin: 0px 7px;
    vertical-align: text-middle;
}

.attachment-info {
    display: block;
    margin-block-end: 8px;
    color: #65738A;

    font-size: 11px;
}



.attachment-info-break::after {
    content: ' • ';

}

.action-attachment {
    text-decoration: underline;
}