.task-attachment-box {
    @include task-details-module-box;
    margin-block-end: 31px;
}

.attachment-list {
    padding: 0;
    list-style: none;
}

.attach-icon {
    @include task-details-field-icon;
    height: 20px;
    width: 20px;
    top: 1px;
}

.nav-btn-txt {
    margin-inline-start: 6px;
    line-height: 20px;
    vertical-align: text-bottom;
}

.button-link.add-attachment {
    font-size: 14px;
    padding: 6px 12px;
    width: fit-content;
}