.homepage-container {
    min-height: 100%;
    padding: 0;
    margin: 0 auto;

    .background-container {
        background: url("//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266ed4cb8cc63bd0c388071f01ff6/white-wave-bg.svg") center bottom -0.5px/100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0%/auto repeat scroll padding-box border-box rgb(82, 67, 170);
    }

    .main-layout {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 80px;
        max-width: 1200px;

        .demo-container {
            max-width: 600px;

            h1 {
                font-size: rem(48px);
                font-weight: 500;
                line-height: rem(60px);
                text-align: left;
            }

            p {
                font-family: Charlie;
                font-size: rem(20px);
                font-weight: 400;
                line-height: 30px;
                margin-bottom: 2.5rem;
            }


            .demo-btn {
                appearance: none;
                -webkit-box-align: center;
                align-items: center;
                border-radius: 0.3rem;
                cursor: pointer;
                display: inline-flex;
                transition: all 250ms ease-out 0s;
                background-color: rgb(0, 101, 255);
                border: 1px solid rgb(0, 101, 255);
                text-decoration: none;
                padding: 0.5rem 2.3rem 0.5rem;
                font-size: 1.55rem;
                color: rgb(255, 255, 255) !important;

                &:hover {
                    background-color: rgb(7, 71, 166);
                    border-color: rgb(7, 71, 166);
                }
            }
        }

        .right-hero-container {
            max-width: 600px;
        }
    }

    .secondary-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: rgb(9, 30, 66);
        text-align: left;
        font-weight: 500;
        font-family: Charlie;
        padding-top: 40px;

        p {
            font-size: rem(16px);
            line-height: rem(20px);
        }

        h2 {
            font-size: rem(32px);
            font-weight: 500;
            line-height: rem(48px);
            padding-bottom: rem(16px);
        }

        .second-p {
            font-size: rem(20px);
            font-weight: 400;
            line-height: 30px;
        }

        .secondary-header-1 {
            margin-bottom: rem(30px);
        }

        .secondary-header-2 {
            display: flex;
            margin-bottom: rem(55px);
        }

        .cards-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 20rem;
            margin-right: rem(45px);
        }

    }



    @media (max-width: 1280px) {
        .main-layout {
            max-width: 1000px;
        }
    }

    @media (max-width: 1090px) {
        .main-layout {
            flex-direction: column;
            align-items: center;
            max-width: 750px;
            padding-left: 16px;
            padding-right: 16px;

            .demo-container {
                margin-bottom: rem(30px);
                text-align: center;

                .text-container {
                    width: 101%;
                    text-align: center;

                    h1 {
                        text-align: center;
                    }

                    p {
                        font-size: 1.45rem;
                    }
                }

                .signup-btn {
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: 1.65rem;
                }
            }

            .right-hero-container {
                max-width: 650px;
            }
        }
    }


}

@media (max-width: 800px) {

    .secondary-header-2 {
        flex-direction: column-reverse;

        .img-container {
            margin-bottom: 15px;

        }
    }

    .cards-container.import.another {
        min-width: 100%;
        flex-direction: row;
        margin: 0;

        h3 {
            text-align: center;
        }
    }
}

@media (max-width: 630px) {
    .homepage-container {
        .main-layout {
            padding-top: 10px;
        }
    }

    .homepage-container .main-layout {

        .demo-container {

            h1 {
                font-size: 2rem;
                font-weight: 500;
                line-height: 2.75rem;
                text-align: left;
            }

            p {
                font-size: 1.25rem;
                line-height: 30px;
                margin-bottom: 1.5rem;
            }
        }
    }

}