* {
    box-sizing: border-box;
}

// ::selection {
//     background-color: $clr1;
//     color: $clr6;
// }

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", roboto, "noto-sans", ubuntu, "droid-sans", "helvetica-neue", sans-serif;
    line-height: 1.6;
}

body {
    height: 100vh;
    font-size: rem(16px);
    margin: 0;
    margin: auto;
    background-color: $clr2;
    color: #FFF;
    background-position: 50%;
    background-size: cover;

    &>*{
        height: calc(100% - 44px);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}


section,
main,
footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

button{
    cursor: pointer;
}

input, textarea, button {
    font-family: inherit;
}