* {
    box-sizing: border-box;
}

// ::selection {
//     background-color: $clr1;
//     color: $clr6;
// }

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", roboto, "noto-sans", ubuntu, "droid-sans", "helvetica-neue", sans-serif;
    line-height: 1.6;
}

body {
    height: 100vh;
    font-size: rem(16px);
    margin: 0;
    margin: auto;
    background-color: #fff;
    color: #FFF;

    &>* {
        height: calc(100% - 44px);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}


section,
main,
footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

input {
    appearance: none;
    background-color: var(--ds-background-input, #fafbfc);
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px var(--ds-border-input, #dfe1e6);
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
}

input,
textarea,
button {
    font-family: inherit;
}

.checkbox-container {
    flex-shrink: 0;
    transition: all 0.3s;
    
    .checkbox {
        cursor: pointer;
        height: 16px;
        width: 16px;
        border-radius: 4px;

        &.checkbox-checked {
            color: $button-filled;
            box-shadow: inset 0 0 0 2px #0079bf;
            &:hover{
                color: #5AA4CF;
            }
        }

        &.checkbox-unchecked {
            color: transparent;
            box-shadow: inset 0 0 0 2px #dfe1e6;
        }
    }
}