.user-quick-menu {
<<<<<<< HEAD
    padding: 0 0 rem(8px) 0;
    margin: 0;
    font-size: 1.1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    @include for-narrow-layout {
        padding-top: rem(20px);
        margin-top: rem(16px);
        font-size: 1rem;
        display: block;
        flex-direction: unset;
        flex: unset;

    }

    .header {
        padding-top: rem(20px);
        background-color: var(--dynamic-background);

        @include for-narrow-layout {
            background-color: inherit;
            padding-top: 0;
        }
    }
=======
    padding: rem(20px) 0 rem(8px) 0;
    margin-top: rem(16px);
>>>>>>> 227237752ddad3d100c0478dccd756f6f67d7038

    .main-layout>*:not(.full) {
        padding-inline: rem(20px);
    }

    .title {
<<<<<<< HEAD
        @include label;
        padding-inline: rem(20px);
        text-transform: uppercase;
        font-size: em(11px);
        line-height: em(16px);
        padding-block-end: rem(8px);
        color: var(--dynamic-text-light);

        @include for-narrow-layout {
            color: #7a869a;
        }
=======
        padding-inline: rem(20px);
        @include label;
        text-transform: uppercase;
        font-size: rem(11px);
        color: #7a869a;
        line-height: rem(16px);
        padding-block-end: rem(8px);
>>>>>>> 227237752ddad3d100c0478dccd756f6f67d7038
    }

    .user-preview:not(.full) {
        padding-inline: rem(20px);
        margin-bottom: rem(8px);

        .list-member {
<<<<<<< HEAD
            width: em(43px);
            height: em(43px);
            margin-inline: 0 8px;

            @include for-narrow-layout {
                width: em(40px);
                height: em(40px);
            }
=======
            width: rem(40px);
            height: rem(40px);
            margin-inline: 0 8px;
>>>>>>> 227237752ddad3d100c0478dccd756f6f67d7038
        }
    }

    .footer-action-list,
    .header-action-list {
        padding: 0;
        margin: 0;

    }

<<<<<<< HEAD
    .footer-container {
        margin-top: auto;

        @include for-narrow-layout {
            margin-top: 0;

        }

    }

=======
>>>>>>> 227237752ddad3d100c0478dccd756f6f67d7038

    .divider {
        border: 1px solid rgba(9, 30, 66, 0.13);
        border-bottom: none;
<<<<<<< HEAD
        width: 100%;
=======
>>>>>>> 227237752ddad3d100c0478dccd756f6f67d7038
    }

    li {
        width: 100%;
        padding: rem(8px) 0;
        cursor: pointer;

<<<<<<< HEAD
        @include for-narrow-layout {
            &:hover {
                background-color: rgba(9, 30, 66, 0.04);
            }
=======
        &:hover {
            background-color: rgba(9, 30, 66, 0.04);
>>>>>>> 227237752ddad3d100c0478dccd756f6f67d7038
        }
    }



    .user-details {
        >* {
            margin: 0;
            font-weight: 400;
        }

        h3 {
<<<<<<< HEAD
            font-size: em(16px);
            line-height: em(22px);
            color: var(--dynamic-text-light);

            @include for-narrow-layout {
                color: #172b4d;
                font-size: em(14px);
                line-height: em(20px);
            }

        }

        h4 {
            font-size: em(14px);
            line-height: em(18px);
            text-overflow: ellipsis;
            white-space: nowrap;
            color: var(--dynamic-text-light);

            @include for-narrow-layout {
                color: #B3BAC5;
                font-size: em(12px);
                line-height: em(16px);
            }
=======
            font-size: rem(14px);
            line-height: rem(20px);
            color: #172b4d;
        }

        h4 {
            font-size: rem(12px);
            line-height: rem(16px);
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #B3BAC5;
>>>>>>> 227237752ddad3d100c0478dccd756f6f67d7038
        }
    }

    button {
        width: 100%;
<<<<<<< HEAD
        height: 100%;
=======
>>>>>>> 227237752ddad3d100c0478dccd756f6f67d7038
        background-color: transparent;
        border: none;
        text-align: start;
        padding-inline: rem(20px);
        color: #172b4d;
<<<<<<< HEAD
        font-size: em(14px);
        line-height: em(20px);
        text-align: center;

        @include for-narrow-layout {
            text-align: start;
        }
=======
        font-size: rem(14px);
        line-height: rem(20px);
>>>>>>> 227237752ddad3d100c0478dccd756f6f67d7038
    }
}