.comment-container {
    min-height: 32px;
    padding: 8px 0;
    position: relative;
}

.commentor-logo {
    @include user-logo-circle;
    position: absolute;
    left: -43px;
}


.comment-box {
    width: 100%;

    .comment-by-member {
        font-weight: 700;
        margin-inline-end: 6px;
    }

    .comment-time {
        font-size: 12px;
        color: #707C91;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .task-activity {
        @include text-area-form;
        margin: 4px 2px 4px 0;
        padding: 8px 12px;
        font-size: 14px;

        .comment-text {
            text-overflow: ellipsis;
        }
    }
}