.comment-container {
    min-height: 32px;
    padding: 8px 0;
    position: relative;
}

.commentor-logo {
    @include user-logo-circle;
    position: absolute;
    left: -40px;
    top: 15px;
}


.comment-box {
    width: 100%;
    padding-block-start: 3.5px;

    .comment-by-member {
        font-weight: 700;
        margin-inline-start: 0px;
        margin-inline-end: 4px;
        font-size: 14px;
    }

    .comment-time {
        font-size: 12px;
        color: #707C91;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .task-activity {
        @include text-area-form;
        margin: 4px 0 4px 0;
        padding: 7px 12px;
        font-size: 14px;

        background-color: #FFFFFF;

        .comment-text {
            text-overflow: ellipsis;
        }
    }
}