.task-labels-box {
    position: relative;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 4px;
}

.task-label::before {
    content: '';
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    border-radius: 50%;
}

.task-label {
    @include task-details-list;
}

.task-label-add-icon {
    @include add-icon;
}

.task-labels-box,
.task-info {
    @include for-none-native-layout-details {
        margin-block-end: 8px;
    }
}

.labels-label {
    @include details-label;
    margin: 0 8px 4px 0;

    @include for-native-layout-details {
        display: none;
    }
}

.label-native-icon {
    @include native-icon-details;
}