.boards-index-container {
    width: 100vw;
    min-height: 100%;
    max-width: 1266px;
    background-color: #fff;
    margin: 0 auto;
}

.boards-index {
    padding: 0;
    margin: rem(40px) auto 0;
    min-height: 100%;
    max-width: rem(825px);
    min-width: rem(288px);
    width: 100%;
    color: #172b4d;
    // margin: 0 auto;

    .main-header {
        display: inline-flex;
        align-items: center;
        font-size: rem(24px);
        gap: rem(11px);
        padding-bottom: 11px;
    }

    h3 {
        font-size: rem(16px);
        font-weight: 700;
        line-height: rem(24px);
        margin: 0 0 rem(3px);
        white-space: nowrap;
        color: #172b4d;
    }

    .recently-boards-container {
        padding: 0;
    }


    .boards-preview-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
        margin: 0;


    }

    .board-preview {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        color: #fff;
        width: calc(50% - 8px);
        height: rem(96px);
        font-size: rem(16px);
        font-weight: 700;
        line-height: 20px;
        word-spacing: 0px;
        border-radius: 3px;
        background-color: #0000004c;
        transition: .11s;
        background-size: cover;
        background-position: 50%;
        cursor: pointer;
        position: relative;
        margin: 0 8px 8px 0;

        .board-title {
            margin: 0;
        }



        .board-preview-fade {
            padding: rem(10px) rem(8px) rem(8px);
            background-color: #00000026;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: inherit;
        }

        &:hover {
            .board-preview-fade {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }

        &.mod-add {
            background-color: #fafbfc;
            color: #172b4d;
            font-weight: 400;
            font-size: rem(14px);

            .board-preview-fade {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p {
                margin: 0;
            }
        }

    }



    @include for-narrow-layout {
        .board-preview {

            width: 32%;
        }
    }

    @include for-wide-layout {
        .board-preview {
            margin: 0 2% 2% 0;
            width: 23%;
        }
    }
}