.boards-index-container {
    width: 100vw;
    min-height: 100%;
    max-width: 1266px;
    background-color: #fff;
    margin: 0 auto;

    @include for-narrow-layout {
        .boards-index {
            max-width: 695px;
        }
    }

    @include for-normal-layout {
        .boards-index {
            max-width: 695px;
        }
    }

    @include for-wide-layout {
        .boards-index {
            max-width: 52.7625rem;
        }
    }
}

.boards-index {
    padding: 0;
    margin: rem(40px) auto 0;
    min-height: 100%;
    max-width: rem(400px);
    min-width: rem(288px);
    width: 100%;
    color: #172b4d;
    // margin: 0 auto;



    .main-header {
        display: inline-flex;
        align-items: center;
        font-size: rem(24px);
        gap: rem(11px);
        padding-bottom: 11px;
    }

    h3 {
        font-size: rem(16px);
        font-weight: 700;
        line-height: rem(24px);
        margin: 0 0 rem(3px);
        white-space: nowrap;
        color: #172b4d;
    }

    .recently-boards-container {
        padding: 0;
    }


    .boards-preview-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
        margin: 0;


    }

    .board-preview {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        color: #fff;
        width: calc(50% - 4px);
        height: rem(116px);
        font-size: rem(16px);
        font-weight: 700;
        line-height: 20px;
        word-spacing: 0px;
        border-radius: 8px;
        background-color: #97a0af;
        transition: .11s;
        background-size: cover;
        background-position: 50%;
        cursor: pointer;
        position: relative;
        margin: 0 8px 4px 0;

        &:nth-child(even){
            margin-right: 0;
        }

        @include for-narrow-layout {
            border-radius: 3px;
            width: 32%;
            height: rem(96px);
            margin-bottom: 27.453px;

            &:nth-child(even){
                margin-right: 8px;
            }
        }


        @include for-wide-layout {
            margin: 0 2% 32px 0;
            width: 23%;
        }

        .board-title {
            margin: 0;
        }



        .board-preview-fade {
            padding: rem(10px) rem(8px) rem(8px);
            background-color: transparent;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: inherit;
            flex-direction: column-reverse;

            @include for-narrow-layout {
                flex-direction: column;
                background-color: #00000026;
            }

            &.light {
                background-color: #00000026;

                .star-container {
                    margin-right: em(6px);
                    opacity: 1;
                    width: em(18px);
                    color: yellow;

                    &:hover {
                        transform: scale(1);
                    }
                }

                &:hover {
                    background-color: #0000004d;
                }

                @include for-narrow-layout {
                    background-color: #0000004d;
                }
            }
        }


        &.mod-add {
            background-color: #091e420a;
            color: #172b4d;
            font-weight: 400;
            font-size: rem(14px);

            .board-preview-fade {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p {
                margin: 0;
            }

            .board-preview-fade {
                background-color: transparent;
            }
        }

        .details-container {
            justify-content: flex-end;
        }

        .star-container {
            color: #fff;
            font-size: em(14px);
            height: em(18px);
            line-height: em(18px);
            opacity: 0;
            right: 0;
            top: 0;
            transition-duration: .15s;
            transition-property: color, background, opacity, transform, width, margin;
            width: 0;
            -webkit-transform: translateZ(0);
        }


        &:hover {
            .board-preview-fade {
                background-color: rgba(0, 0, 0, 0.4);

                &.add {
                    background-color: #091e4214;
                }
            }

            .star-container {
                margin-right: em(6px);
                opacity: 1;
                width: em(18px);

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }




}