.task-window {
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    background-color: #000000a3;
    padding: 0;
}

.task-details {
    color: $clr_font_blue;
    background-color: #FFFFFF;

    max-width: 768px;
    min-height: 600px;
    padding: 0px;
    overflow: hidden visible;
    margin: 48px 0 80px;
    padding-block-start: 12px;
}

.task-icon {
    vertical-align: middle;
    font-family: unset;
    height: 18px;
    width: 19px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;

    color: $task-details-icon;
}

.task-header {
    height: fit-content;
    float: left;

    padding: 12px 40px 8px 56px;
    width: 100%;
    position: relative;



    .header-icon {
        position: absolute;
        left: 22px;
        top: 15px;
    }

    .task-title {
        border: none;
        outline: none;
        box-shadow: none;
        font-family: unset;
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        padding: 4px 8px;
        margin: -5px -8px;

        min-height: 24px;
        line-height: 24px;

        height: 32px;
        color: #172b4d;
        

        &.is-editing {
            box-shadow: 0 0 0 2px $color_input_shadow;
        }
    }

    .header-subtitle {
        font-size: 14px;
        display: inline-block;
        width: fit-content;
        padding-inline-start: 2px;
        margin: 0px;

        line-height: 20px;


    }
}

.task-main-col {
    position: relative;
    width: 576px;
    overflow: hidden;
    margin: 0;
    display: inline-block;

    padding: 0px 8px 8px 16px;

    vertical-align: top;

}



.title-main-col {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.task-labels-box,
.task-info {
    margin-block-end: 8px;
}


.task-description-box {
    position: relative;
    margin: 0 0 4px 40px;
    margin-block-end: 31px;

    .desc-icon {
        position: absolute;
        left: -33px;
        top: 5px;


    }

    .description-header {
        display: flex;
        flex-direction: row;

        padding: 5px 0px;
        margin-block-end: 14px;

    }

    .task-description {
        box-shadow: none;
        resize: none;
        background-color: #eaecf0;
        border: none;
        width: 100%;
        font-size: 14px;
        border-radius: 3px;
        padding: 8px 12px;
        outline: unset;
        transition-duration: 85ms;

        font-family: unset;
        min-height: 40px;

        &.is-editing {
            background-color: #FFFFFF;
            box-shadow: 0 0 0 2px #0079bf;
            height: 223px;

        }
    }

    .description-editor-tools {
        display: none;
    }
}

.description-editor-tools {
    margin: 8px 0 0;
    &.show {
        display: block;
    }
}



.task-activity-box {
    position: relative;
    margin: 0 0 4px 40px;

    .activity-icon {
        position: absolute;
        left: -33px;
        top: 5px;

        height: 23px;
    }

    .activity-header {
        display: flex;
        flex-direction: row;

        padding: 8px 0px;
        margin-block-end: 11px;
        min-height: 32px;

        justify-content: space-between;

    }
}


.task-activity {

    font-size: 14px;
    border-radius: 3px;
    padding: 8px 12px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px -1px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    
    &.comment-typing {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }
    
    .task-activity-input {
        outline: none;
        resize: none;
        border: none;
        line-height: 20px;
        height: fit-content;
        width: 100%;
    }
}

.commentor-logo {
    @include user-logo-circle
}



.window-sidebar-box {

    width: 192px;
    float: right;
    overflow-y: visible;
    padding: 0 16px 8px 8px;
}

.window-sidebar {
    position: relative;
    overflow-y: visible;
    margin-block-end: 24px;



    .sidebar-title {
        font-weight: 600;
        font-size: 12px;
        color: #5e6c84;
    }
}

.button-link {
    @include task-nav-button;
    position: relative;
    &-header {
        @include task-nav-button;
        margin: 0 0 0 8px;
        padding-inline: 12px;

        &:hover {
            background-color: #e2e5e9;
            text-decoration: none;
        }
    }

    &:hover {
        background-color: #e2e5e9;
        text-decoration: none;
    }
}








.user-logo {
    @include user-logo-circle;

    position: absolute;
    top: 67px;
    left: -43px;
}



.save-btn {
    @include button-filled($button-filled , #FFF);
    font-size: 10px;
}

.cancel-btn {
    @include button-filled(#FFF, #2B2B2C);
    font-size: 10px;

    &:hover {
        color: #2B2B2C;
        background-color: #EAECF0;
    }
}

.comment-btn {
    display: none;
    &.show {
        display: block;
    }
}

.task-info{
    flex-wrap: wrap;
}
.task-labels-box {
    max-width: 100%;
    flex-wrap: wrap;
    gap: 4px;
}

.task-labels {
    border: hidden;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    border-radius: 3px;
    padding: 0 12px;
    max-width: 100%;
    min-width: 48px;
    height: 32px;
    background-color: #DFE1E6;
    line-height: 32px;
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.task-add-label{
        text-align: center;
    }
}

.task-labels::before{
    content: '';
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: green($color: #000000);
}