.checklist-container {
    max-width: 100%;

    .checklist-title-box {
        max-width: 100%;
        justify-content: space-between;
        margin-block-end: 8px;
        gap: 4px;

        .checklist-title-container {
            max-width: 100%;
            flex-grow: 1;
            padding-inline: 0px;

            .checklist-title {
                max-width: 100%;
                height: fit-content;
            }

            .checklist-title-span {
                margin-inline-start: 9px;
                max-width: 100%;
                height: fit-content;
            }
            
            .textarea-editor-box.checklist-title-editor {
                margin-inline-start: 8px;
                padding-inline-end: 0px;
                width: 100%;
                
                .textarea-editor.checklist-title-editor {
                    max-width: 100%;
                    font-size: 15px;
                    font-weight: 700;
                    padding-block-start: 6px;
                }
            }
        }

        .remove-checklist {
            @include task-nav-button;
        }
    }

    .checklist-bar-container {
        position: relative;
        margin-block-end: 6px;
        line-height: 20px;
        
        align-items: center;
        
        .done-precentage {
            position: absolute;
            font-size: 11px;
            padding-inline: 5px;
        }
        
        .checklist-bar {
            display: inline-block;
            margin: 0 0 0 37px;
            border-radius: 4px;
            width: 100%;
            overflow: hidden;
            background-color: #e2e4e9;
            
            .checklist-bar-done {
                border-radius: 4px;
                height: 8px;
                background-color: #5ba4cf;

                transition: background-color, width 0.14s ease-in;
                
            }
        }
    }


    .checklist-box {
        width: 100%;

        .checklist-list {
            width: 100%;
            list-style-type: none;
        }
    }

    .add-todo-box {
        margin-inline-start: 40px;
        max-width: 100%;

        .add-todo-input-box {
            max-width: 100%;

            .add-todo-input {
                width: 100%;
                margin-inline: 0px;
                height: 56px;
                padding: 8px 12px 9px;

                resize: none;
            }
            .cancel-add-todo-btn {
                background-color: transparent;
                border: hidden;
                font-size: 14px;
                padding: 6px 12px;
                margin: 0 4px 0 0;
                color: #3b4b69;
                border-radius: 3px;

                &:hover{
                    background-color: $btn-background-cyan;
                }
            }
        }

        .add-todo-btn {
            @include task-nav-button;
        }
    }
}