.todo-list-box {
    padding: 8px 0;
    margin-inline-start: -40px;
    transform-origin: left bottom;
    transition: background-color 0.3s ease-in;
    cursor: pointer;

    &:hover {
        background-color: #eaecf0;

        .todo-box {
            .todo-row {

                .todo-tools {
                    display: block;
                }
            }
        }
    }

    &.add:hover {
        background-color: inherit;
    }

    .todo-box {
        position: relative;
        height: 100%;
        padding-inline-start: 37px;
        padding-inline-end: 10px;




        .todo-done-input {
            display: none;
        }

        .todo-row {
            
            .todo-title {
                display: inline-block;
                width: 100%;
                font-size: 14px;
                color: #172b4d;
                min-height: 20px;

                &.done {
                    text-decoration: line-through;
                    color: #5e6c84;
                }
            }

            .todo-tools {
                display: none;
                transition: display 0.3s ease-in;

                height: 100%;
                width: 22px;
                line-height: 20px;
                color: #42526e;
                border-radius: 0;
                padding: 4px 2px;
                margin: -2px;


                &:hover{
                    background-color: #091e4214;
                }
            }
        }

        .todo-checkbox-container {
            position: absolute;
            left: 7px;
            top: -1px;
            border-radius: 4px;

            .checkbox {
                height: 15px;
                width: 15px;

                &.checkbox-checked {
                    color: $button-filled;
                    box-shadow: inset 0 0 0 2px #0079bf;

                    &:hover {
                        color: #5AA4CF;
                    }
                }

                &.checkbox-unchecked {
                    color: transparent;
                    box-shadow: inset 0 0 0 2px #dfe1e6;
                }


            }
        }
    }
}