/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}


@mixin task-nav-button {
    display: block;
    color: #42526E;
    background-color: #eaecf0;
    border-radius: 3px;
    max-width: 300px;
    margin-block-end: 8px;
    padding: 6px 12px;
    height: 32px;
    white-space: nowrap;
    border: none;
    font-size: 14px;
    text-decoration: none;
    vertical-align: baseline;

    &>svg {
        line-height: 20px;
        padding: 0;
    }
}

@mixin user-logo-circle($height : 32px, $width : 32px) {
    @include aspect-ratio($height, $width);
    object-fit: cover;
    border-radius: 50%;
    height: $height;
    width: $width;

    &:hover {
        opacity: 0.8;
    }
}

@mixin button-filled($color: rgba(9, 30, 66, 0.04), $text-color: #172b4d) {
    display: inline-flex;
    font-family: inherit;
    background-color: $color;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    justify-content: center;
    color: $text-color;
    margin: 0 4px 0 0;
    border-radius: 3px;
    transition-property: background-color;
    transition-duration: 85ms;

    &:hover {
        // background-color: darken($button-filled, 10%);
        background-color: opacify($color, .05);
    }
}

@mixin labels-picker-main-button {
    @include task-nav-button;
    background-color: inherit;
    width: 100%;
    margin-block-end: 8px;

    &:hover {
        background-color: $btn-background-cyan;
    }
}

// include to .label-box
@mixin label-preview {
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    border-radius: 3px;
    padding: 0 rem(12px) 0 rem(8px);
    gap: rem(8px);
    max-width: 100%;
    min-width: 48px;
    height: 32px;
    line-height: 32px;
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

// include to .label-box::before
@mixin label-preview-before {
    content: '';
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    border-radius: 50%;
}

@mixin modal-header {
    text-align: center;
    font-size: 14px;
    grid-column: 0 / 1;
}

@mixin modal-header-container {
    display: grid;
    grid-template-columns: 12px 1fr 12px;
    border-block-end: 1px solid rgba(9, 30, 66, 0.13);
    line-height: 40px;
    place-content: center;
}

@mixin close-modal {
    cursor: pointer;
    align-self: center;
    line-height: 20px;
    grid-column: 0 / 1;
    color: #6b778c;

    width: 16px;
    height: 22px;

    font-weight: bolder;

    &:hover{
        color: #172b4d;
    }
}

@mixin back-modal {
    cursor: pointer;
    align-self: center;
    line-height: 20px;
    grid-column: -1 / 0;

    color: #6b778c;
}

@mixin input-focus {
    box-shadow: rgb(0, 121, 191) 0px 0px 0px 2px inset;
}

@mixin scrollbar($width: 8px, $thumb-radius: 2rem, $thumb-bgclr: rgba(9, 30, 66, .13), $track-bgclr: rgba(9, 30, 66, .08), $display: block) {
    &::-webkit-scrollbar {
        width: $width;
        height: $width;
        background-color: transparent;
        border-radius: 2rem;
        display: $display;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb-bgclr;
        border-radius: $thumb-radius;
    }

    &::-webkit-scrollbar-track {
        margin-inline: 3rem;
        // margin-inline-start: 1.5rem;
        background-color: $track-bgclr;
        border-radius: $thumb-radius;
    }

}

@mixin task-details-field-icon {
    position: absolute;
    left: -33px;
    top: 5px;
    color: $task-details-icon;

}

@mixin text-area-form {
    font-size: 14px;
    border-radius: 3px;
    padding: 8px 12px 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px -1px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

@mixin details-label {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    color: #66748B;
    margin-block-start: 4px;
    margin-block-end: 4px;
}


@mixin task-details-list {
    @include label-preview;

    &-add {
        text-align: center;
        background-color: #EAECF0;
        color: #172B4D;
        min-width: 32px;
        padding: 8px;
        
        justify-content: center;

        &:hover {
            background-color: #e2e5e9;
        }
    }

}

@mixin add-icon {
    padding: 0px;
    height: 16px;
    width: 16px;
}

@mixin task-details-module-box {
    position: relative;
    margin: 0 0 4px 40px;
}
