@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-medium-extended.ttf);
}
@font-face {
    font-family: noto-sans;
    src: url(../fonts/notosans-regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto-regular.ttf);
}
@font-face {
    font-family: ubuntu;
    src: url(../fonts/ubuntu-regular.ttf);
}
@font-face {
    font-family: droid-sans;
    src: url(../fonts/droid-sans.regular.ttf);
}

@font-face {
    font-family: Charlie;
    src: url(../fonts/CharlieDisplay-Regular.ttf);
}