// Colors
$clr1: #026AA7;
$clr2: #0079bf;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr_font_blue : #172b4d;
$color_input_shadow: #0079bf;

$description-bgc: #091e420a;

$dynamic-button: rgba(255, 255, 255, 0.2);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;