// Colors
$clr1: #026AA7;
$clr2: #0079bf;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr_font_blue : #172b4d;
$color_input_shadow: #0079bf;

$description-bgc: #091e420a;
$task-details-icon: #42526e;
$button-filled: #0079bf;


//**Group footer**//
//Add card btn 
$clr20: #5e6c84;
//Add card btn :hover + task preview
$clr21: #172b4d;
$clr22: #091e4214;

//**task preview**//
//box shadow
$clr23: #091e4240;

$dynamic-button: rgba(255, 255, 255, 0.2);
$dynamic-button-hover: rgba(255, 255, 255, 0.3);
$dynamic-button-background-color-hover: rgba(255, 255, 255, 0.3);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;