.todo-modal-box {
    padding-block: 0;

    .todo-modal-header {
        padding-inline: 12px;
    }

    .todo-modal-items {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-block-start: 8px;

        .modal-item {
            cursor: pointer;
            padding: 6px 12px;
            font-size: 13px;

            &:hover {
                background-color: #ecedf0;
            }
        }

        .modal-item:last-of-type {
            margin-block-end: 8px;
        }
    }
}