.checklist-container {
    max-width: 100%;

    .checklist-title-box {
        max-width: 100%;
        justify-content: space-between;
        margin-block-end: 8px;
        gap: 4px;

        .checklist-title-container {
            flex-grow: 1;
            padding-inline-end: 0px;

            .checklist-title {
                max-width: 100%;
                height: fit-content;

            }

            .text-area-editor-box.checklist-title {
                padding-inline-end: 0px;
                max-width: 100%;

                .text-area-editor.checklist-title {
                    max-width: 100%;
                    padding-block-start: 0
                }
            }
        }

        .remove-checklist {
            @include task-nav-button;
        }
    }

    .checklist-bar-container {
        position: relative;
        margin-block-end: 6px;
        line-height: 20px;
        
        align-items: center;
        
        .done-precentage {
            font-size: 11px;
        }
        
        .checklist-bar {
            display: inline-block;
            margin: 0 0 0 6px;
            border-radius: 4px;
            width: 100%;
            overflow: hidden;
            background-color: #e2e4e9;
            
            .checklist-bar-done {
                border-radius: 4px;
                height: 8px;
                background-color: #5ba4cf;
                
            }
        }
    }


    .checklist-box {
        width: 100%;

        .checklist-list {
            width: 100%;
            list-style-type: none;
        }
    }

    .add-todo-box {
        margin-inline-start: 40px;
        max-width: 100%;

        .add-todo-input-box {
            max-width: 100%;

            .add-todo-input {
                width: 100%;
                margin-inline: 0px;
                height: 56px;
                padding: 8px 12px 9px;

                resize: none;
            }
        }

        .add-todo-btn {
            @include task-nav-button;
        }
    }
}