.checklist-container {
    .checklist-title-box {
        width: 100%;
        justify-content: space-between;

        .remove-checklist {
            @include task-nav-button;
        }
    }

    .checklist-box {
        width: 100%;

        .checklist-list {
            width: 100%;
            list-style-type: none;
        }
    }

    .add-todo-box {

        .add-todo-btn {
            @include task-nav-button;
        }
    }
}